/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;        
  padding: 1rem 2rem;    
}

/* Boton de busqueda */
.filter-container {
 margin-left: 2rem;
}

/* Estilos del body */
:root {
    --bg-light: #f9f9f9;
    --primary: #2d3436;
    /* Negro azulado */
    --secondary: #e17055;
    /* Coral */
    --text-dark: #2d3436;
    --accent: #0984e3;
    /* Azul */
}

body {
    background: var(--bg-light);
    color: var(--text-dark);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.game-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.price {
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.2rem;
}

/*estilos fuentes*/
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

body, p, button {
    font-family: 'Open Sans', sans-serif;
}

.price {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #e63946;
}

/* estilos de las tarjetas */
.game-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 15px;
    transition: all 0.3s;
}

.game-card:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #00b4d8;
    box-shadow: 0 0 15px rgba(0, 180, 216, 0.5);
}

.modal {
    margin-left: 2rem;
}